
@font-face {
    font-family: 'Hanken Grotesk'; /* Choose a name for your custom font */
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
      format('ttf');
  }

  .attribution {
    font-size: 11px;
    text-align: center;    
    position: relative;
    top: 50%;
    transform: translateY(50%);
    width: auto;
    margin-top: 50px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    margin: 0 auto;
    font-family: 'Hanken Grotesk', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 10px hsl(221, 100%, 96%);
  }
  .Results{
    padding: 20px;
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    grid-template-columns: 1fr;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    text-align: center;
    color: hsl(241, 100%, 89%)
  }
  .ResultsTitle{
    font-size: 18px;
  }
  .ResultCircle{
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Scores{
    font-size: 16px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    line-height: 0%;
  }
.Scores #Score{
    font-size: 40px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}
.Scores #PossibleScore{
    font-size: 12px;
    font-weight: 500;
    color: hsl(241, 100%, 89%)
}

.ScoreSummaryTitle{
    font-size: 18px;
    font-weight: 500;
    color: hsl(0,0%,100%);
}
.ScoreSummary{
    font-size: 12px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);    
    margin-top: 10px;
}
.Summary{
    margin: 20px;
    margin-bottom: 0px;
}
.SummaryTitle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.Breakdowns{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 15px;
    margin-right: 20px;
}
.Reaction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: hsla(0, 100%, 67%,.1);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: hsla(0, 100%, 67%,1);
}
.ReactionTitle{
    grid-area: 1 / 1 / 1 / 1;
    text-align: left;
    font-weight: 700;
}
.ReactionValue{
    grid-area: 1 / 2 / 1 / 2;
    text-align: right;
    color:hsla(224, 30%, 27%,1);
    font-weight: 700;
}
.ReactionValue #ReactionPossibleScore{
    color:hsla(224, 30%, 27%,.6);
}
.Memory{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: hsla(39, 100%, 56%,.1);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: hsl(39, 100%, 56%);
}
.MemoryTitle{
    grid-area: 2 / 1 / 2 / 1;
    text-align: left;
    font-weight: 700;
}
.MemoryValue{
    grid-area: 2 / 2 / 2 / 2;
    text-align: right;
    color:hsla(224, 30%, 27%,1);
    font-weight: 700;
}
.MemoryValue #MemoryPossibleScore{
    color:hsla(224, 30%, 27%,.6);
}
.Verbal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: hsla(166, 100%, 37%,.1);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: hsl(166, 100%, 37%);
}
.VerbalTitle{
    grid-area: 2 / 1 / 2 / 1;
    text-align: left;
    font-weight: 700;
}
.VerbalValue{
    grid-area: 2 / 2 / 2 / 2;
    text-align: right;
    color:hsla(224, 30%, 27%,1);
    font-weight: 700;
}
.VerbalValue #VerbalPossibleScore{
    color:hsla(224, 30%, 27%,.6);
}
.Visual{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: hsla(234, 85%, 45%,.1);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: hsl(234, 85%, 45%);
}
.VisualTitle{
    grid-area: 2 / 1 / 2 / 1;
    text-align: left;
    font-weight: 700;
}
.VisualValue{
    grid-area: 2 / 2 / 2 / 2;
    text-align: right;
    color:hsla(224, 30%, 27%,1);
    font-weight: 700;
}
.VisualValue #VisualPossibleScore{
    color:hsla(224, 30%, 27%,.6);
}
.Continue{
    margin: 30px;
}
.Continue #ContinueBtn {
    background: hsl(224, 30%, 27%);
    border-radius: 5px;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}